@tailwind base;
@tailwind components;
@tailwind utilities;


.spinner_9y7u {
    animation: spinner_fUkk 2.4s linear infinite;
    animation-delay: -2.4s;
    fill: white; /* Change rectangle color to white */
}
.spinner_DF2s {
    animation-delay: -1.6s;
    fill: white; /* Change rectangle color to white */
}
.spinner_q27e {
    animation-delay: -0.8s;
    fill: white; /* Change rectangle color to white */
}
@keyframes spinner_fUkk {
    8.33% { transform: translate(12px, 0); }
    25% { transform: translate(12px, 0); }
    33.3% { transform: translate(12px, 12px); }
    50% { transform: translate(12px, 12px); }
    58.33% { transform: translate(0, 12px); }
    75% { transform: translate(0, 12px); }
    83.33% { transform: translate(0, 0); }
}
